.id-pokemon {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
    gap: .5rem;
    color: #fff;
}

.id-pokemon .id {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.id-pokemon .id .name {
    font-size: 2rem;
    text-transform: capitalize;
    align-self: flex-end;
}

.id-pokemon .id .number {
    align-self: flex-end;
    font-size: 1.2rem;
}

.id-pokemon .types {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.id-pokemon img {
    max-width: 200px;
    align-self: center;
}

.id-pokemon .types .type {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 0.25rem 1rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.details {
    background-color: #fff;
    border-radius: 2rem;
    padding: 1.5rem 1.5rem;
    margin: -2.5rem -1rem;
}

.details header {
    margin: 1.5rem 0;
    padding: 0 1.27rem;
}

.details .detail-options {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    height: 2.5rem;
}

.details .detail-options span {
    padding: 1.27rem 0;
}

.details .detail-options span:hover {
    border-bottom: 2px solid #6F7BDB;
    cursor: pointer;
}

.details .info-pokemon {
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    padding: 0;
    margin: 0;
}

.details .info-pokemon .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .4rem 1.27rem;
}


@media screen and (min-width: 380px) {
    
}

@media screen and (min-width: 576px) {
    .id-pokemon .id .name {
        font-size: 2.5rem;
    }
    .id-pokemon .id .number {
        font-size: 1.2rem;
    }
    .id-pokemon, .detail {
        margin: 0 2rem;
    }
}

@media screen and (min-width: 900px) {
    .id-pokemon .id .name {
        font-size: 3rem;
    }
    .id-pokemon .id .number {
        font-size: 1.5rem;
    }
    .id-pokemon, .detail {
        margin: 0 2rem;
    }
    .details .info-pokemon {
        font-size: 1.2rem;
    }
}