#content-detail {
    background-color: #77c850;
}

.id-pokemon {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
    gap: .5rem;
    color: #fff;
}
.id-pokemon .id {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.id-pokemon .id .name {
    font-size: 2rem;
    text-transform: capitalize;
    align-self: flex-end;
}
.id-pokemon .id .number {
    align-self: flex-end;
}
.id-pokemon .types {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}
.id-pokemon img {
    max-width: 200px;
    align-self: center;
}

.id-pokemon .types .type {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 0.25rem 1rem;
    margin: .25rem 0;
    /* font-size: 0.625rem; */
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    /* box-shadow: 1px 2px grey; */
}

.details {
    background-color: #fff;
    border-radius: 2rem;
    /* width: 100%; */
    /* height: 100vh; */
    padding: 1.5rem 1.5rem;
    margin: -2.5rem -1rem;
}
.details header {
    margin: 1.5rem 0;
}
.details .info-pokemon {
       
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    padding: 0;
    margin: 0;
}
.details .info-pokemon .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .4rem 0;
}